<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WorkshopWeb</title>

    <environment include="Development">

        <link rel="stylesheet" href="~/lib/bootstrap/bootstrap.min.css"/>

        <!-- Google Font -->
        <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap" rel="stylesheet">

        <!-- Css Styles -->
        <link rel="stylesheet" href="~/css/bootstrap.min.css" type="text/css" />
        <link rel="stylesheet" href="~/css/font-awesome.min.css" type="text/css" />
        <link rel="stylesheet" href="~/css/elegant-icons.css" type="text/css" />
        <link rel="stylesheet" href="~/css/nice-select.css" type="text/css" />
        <link rel="stylesheet" href="~/css/jquery-ui.min.css" type="text/css" />
        <link rel="stylesheet" href="~/css/owl.carousel.min.css" type="text/css" />
        <link rel="stylesheet" href="~/css/slicknav.min.css" type="text/css" />
        <link rel="stylesheet" href="~/css/style.css" type="text/css" />

    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        @*<link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />*@

        <!-- Css Styles -->
        <link rel="stylesheet" href="~/css/bootstrap.min.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/font-awesome.min.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/elegant-icons.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/nice-select.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/jquery-ui.min.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/owl.carousel.min.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/slicknav.min.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/lib/font-awesome/css/all.css" />
        <link rel="stylesheet" href="~/lib/bootstrap/bootstrap.min.css" />
    </environment>
</head>
<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Humberger Begin -->
    <div class="humberger__menu__overlay"></div>
    <div class="humberger__menu__wrapper">
        <div class="humberger__menu__logo">
            <a asp-area="" asp-controller="Home" asp-action="Index"><img src="~/images/logo-black.png" alt=""></a>
        </div>
       
        <div class="humberger__menu__widget">

            <nav class="humberger__menu__nav mobile-menu">
                <ul>
                    @if (this.User.Identity.IsAuthenticated)
                    {
                        <li>
                            <a asp-area="" asp-controller="Account" asp-action="ChangeUser"><i class="fa fa-user"></i> @this.User.Identity.Name.</a>
                            <ul class="header__menu__dropdown">
                                <li> <a asp-area="" asp-controller="Account" asp-action="Logout"><i class="fa fa-user-circle"></i> Profile</a> </li>
                                <li> <a asp-area="" asp-controller="Account" asp-action="Logout"><i class="fa fa-sign-out"></i> Logout</a> </li>
                            </ul>
                        </li>

                    }
                    else
                    {
                        <li>
                            <a asp-area="" asp-controller="Account" asp-action="Login"><i class="fa fa-user"></i> Login</a>
                            <ul class="header__menu__dropdown">
                                <li> <a asp-area="" asp-controller="Account" asp-action="Register"><i class="fa fa-user-plus"></i> Register</a> </li>

                            </ul>
                        </li>

                    }
                    
                </ul>
            </nav>
        </div>
        <ul>
            <li ><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
            <li ><a asp-area="" asp-controller="Appointments" asp-action="Create">Appointment</a></li>
        </ul>

        <div id="mobile-menu-wrap"></div>
        
        <div class="humberger__menu__contact">
            <ul>
                <li><i class="fa fa-envelope"></i> </li>
                
            </ul>
        </div>
    </div>
    <!-- Humberger End -->
    <!-- Header Section Begin -->
    <header class="header">
        
        <div class="container">
            <div class="row">
                <div class="col-lg-2">
                    <div class="header__logo">
                        <a asp-area="" asp-controller="Home" asp-action="Index"><img src="~/images/logo-black.png" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-8">
                    <nav class="header__menu">
                        <ul class="mr-auto">
                            <li class="nav-item active"><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                            <li class="nav-item"><a asp-area="" asp-controller="Appointments" asp-action="Create">Appointment</a></li>

                                @if (this.User.Identity.IsAuthenticated)
                                {
                                    <li class="navbar-right">
                                        <a asp-area="" asp-controller="Account" asp-action="ChangeUser"><i class="fa fa-user"></i> @this.User.Identity.Name</a>
                                        <ul class="header__menu__dropdown">
                                            <li> <a asp-area="" asp-controller="Account" asp-action="Logout"><i class="fa fa-user-circle"></i> Profile</a> </li>
                                            <li> <a asp-area="" asp-controller="Account" asp-action="Logout"><i class="fa fa-sign-out"></i> Logout</a> </li>
                                        </ul>
                                    </li>

                                }
                                else
                                {
                                    <li class="navbar-right">
                                        <a asp-area="" asp-controller="Account" asp-action="Login"><i class="fa fa-user"></i> Login</a>
                                        <ul class="header__menu__dropdown">
                                            <li> <a asp-area="" asp-controller="Account" asp-action="Register"><i class="fa fa-user-plus"></i> Register</a> </li>

                                        </ul>
                                    </li>

                                }
                            
                        </ul>
                    </nav>
                    
                </div>
                
            </div>
            <div class="humberger__open">
                <i class="fa fa-bars"></i>
            </div>
        </div>
    </header>
    <!-- Header Section End -->

    <partial name="_CookieConsentPartial" />

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2020 - WorkshopWeb</p>
        </footer>
    </div>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        @*<script src="~/js/site.js" asp-append-version="true"></script>*@

        <!-- Js Plugins -->
        @*<script src="~/js/jquery-3.3.1.min.js" asp-append-version="true"></script>*@
        @*<script src="~/js/bootstrap.min.js" asp-append-version="true"></script>*@
        @*<script src="~/js/jquery.nice-select.min.js" asp-append-version="true"></script>*@
        @*<script src="~/js/jquery-ui.min.js" asp-append-version="true"></script>*@
        @*<script src="~/js/jquery.slicknav.js" asp-append-version="true"></script>*@
        @*<script src="~/js/mixitup.min.js" asp-append-version="true"></script>*@
        @*<script src="~/js/owl.carousel.min.js" asp-append-version="true"></script>*@
        <script src="~/js/main.js" asp-append-version="true"></script>

    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd">
        </script>

        <!-- Js Plugins -->
        @*<script src="~/js/jquery-3.3.1.min.js" asp-append-version="true"></script>
        <script src="~/js/bootstrap.min.js" asp-append-version="true"></script>
        <script src="~/js/jquery.nice-select.min.js" asp-append-version="true"></script>
        <script src="~/js/jquery-ui.min.js" asp-append-version="true"></script>
        <script src="~/js/jquery.slicknav.js" asp-append-version="true"></script>
        <script src="~/js/mixitup.min.js" asp-append-version="true"></script>
        <script src="~/js/owl.carousel.min.js" asp-append-version="true"></script>*@
        <script src="~/js/main.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
